<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ author.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='author.css') }}">
</head>
<body>
    <!-- Author Banner -->
    <div class="banner">
        <h1>{{ author.name }}</h1>
    </div>

    <!-- Books Section -->
    <div class="books-container">
        {% for book in author.books %}
            <a href="/book/{{ book.id }}" class="book-link">
        <div class="book">
            <div class="book-image">
                <img src="{{ url_for('get_cover', cover_id=book.cover_id) }}" alt="Cover for {{ book.title }}" loading="lazy"/>
            </div>
            <div class="book-details">
                <h2>
                    {{ book.title }}
                    <span class="book-year">({{ book.year }})</span>
                </h2>
                <div class="book-rating">{{ book.rating }}</div>
                <p class="book-description">
                    {{(book.description or "No description provided")[:300] }}{% if book.description and book.description|length > 300 %}...{% endif %}
                </p>
                {% if book.tags %}
                <p class="book-tags">Tags: {{ book.tags }}</p>
                {% endif %}
                {% if book.series %}
                <p class="book-series">Series: {{ book.series }}</p>
                {% endif %}
            </div>
        </div>
            </a>
        {% endfor %}
    </div>
</body>
</html>
